/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*CONTAINER & GLOBALS*********************************/
*{
  margin:0;
  padding: 0;
}
.container{
  width: 100%;
  margin: auto;
}
/*HEADER*********************************************/
.header{
  width: 98%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  margin: auto;
}
/*SECTION PROGRESS**********************************/
.section-progress{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin:auto;

}
.vm-progress__text{
  font-size: 35px!important;
}
.vm-progress-circle__path{
  transition: stroke-dashoffset 1.2s ease-out 0s, stroke 1.2s ease-in!important;
}
/*SECTION CHECKS************************************/
.section-checks{
  border: 1px solid #ccc;
  padding: 20px;
  width: 80%;
  margin: auto;
  background: #fff;
}
/*SEPARATORS**************************************/
.separator{
  width: 1px;
  background: #ccc;
  height: 50px;
  margin: auto;
}
